extends layout

block layout-content
  div.View
    h1.Banner#MainBanner 
        div.Title#TitleDiv D&D Search 3000
        div#ButtonPlusDiv 
                a#ButtonPlus(href="") +
        form(id="spellSearchForm", method = "post")
            div.SearchCriterias
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Level
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#spellLevelMin(type="number",min="0", max="9", value="0")
                        div.SearchTextElement
                            |To
                        div.SearchCriteriaElement
                            input#spellLevelMax(type="number",min="0", max="9",value="9")
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Name
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#spellName(type="text")
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Spell Text
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#spellText(type="text",minlength="5")
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Components
                        div.OperatorRow
                            div.OperatorColumn
                                div.ParameterElement
                                    p (Space between each components)
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#components(type="text")
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Classes
                        div.OperatorRow
                            div.OperatorColumn
                                div.ParameterElement
                                    input#level-and(type="radio", name="level-operator", value="and")
                                    label(for="level-and") And
                            div.OperatorColumn
                                div.ParameterElement
                                    input#level-or(type="radio", name="level-operator" value = "or", checked=true)
                                    label(for="level-or") Or
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#level-alchemist(type="checkbox", name="alchemist")
                            label(for="level-alchemist") Alchemist
                        div.SearchCriteriaElement
                            input#level-antipaladin(type="checkbox", name="antipaladin")
                            label(for="level-antipaladin") Antipaladin
                        div.SearchCriteriaElement
                            input#level-bard(type="checkbox", name="bard")
                            label(for="level-bard") Bard
                        div.SearchCriteriaElement
                            input#level-bloodrager(type="checkbox", name="bloodrager")
                            label(for="level-bloodrager") Bloodrager
                        div.SearchCriteriaElement
                            input#level-cleric(type="checkbox", name="cleric")
                            label(for="level-cleric") Cleric
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#level-oracle(type="checkbox", name="oracle")
                            label(for="level-oracle") Oracle
                        div.SearchCriteriaElement
                            input#level-elementalistwizard(type="checkbox", name="elementalist wizard")
                            label(for="level-elementalistwizard") Elementalist wizard
                        div.SearchCriteriaElement
                            input#level-inquisitor(type="checkbox", name="inquisitor")
                            label(for="level-inquisitor") Inquisitor
                        div.SearchCriteriaElement
                            input#level-magus(type="checkbox", name="magus")
                            label(for="level-magus") Magus
                        div.SearchCriteriaElement
                            input#level-medium(type="checkbox", name="medium")
                            label(for="level-medium") Medium 
                    div.SearchCriteriaRow                  
                        div.SearchCriteriaElement
                            input#level-mesmerist(type="checkbox", name="mesmerist")
                            label(for="level-mesmerist") Mesmerist
                        div.SearchCriteriaElement
                            input#level-occultist(type="checkbox", name="occultist")
                            label(for="level-occultist") Occultist
                        div.SearchCriteriaElement
                            input#level-paladin(type="checkbox", name="paladin")
                            label(for="level-paladin") Paladin
                        div.SearchCriteriaElement
                            input#level-psychic(type="checkbox", name="psychic")
                            label(for="level-psychic") Psychic
                        div.SearchCriteriaElement
                            input#level-ranger(type="checkbox", name="ranger")
                            label(for="level-ranger") Ranger 
                    div.SearchCriteriaRow                  
                        div.SearchCriteriaElement
                            input#level-shaman(type="checkbox", name="shaman")
                            label(for="level-shaman") Shaman
                        div.SearchCriteriaElement
                            input#level-sorcerer(type="checkbox", name="sorcerer")
                            label(for="level-sorcerer") Sorcerer
                        div.SearchCriteriaElement
                            input#level-wizard(type="checkbox", name="wizard")
                            label(for="level-wizard") Wizard
                        div.SearchCriteriaElement
                            input#level-spiritualist(type="checkbox", name="spiritualist")
                            label(for="level-spiritualist") Spiritualist
                        div.SearchCriteriaElement
                            input#level-summoner(type="checkbox", name="summoner")
                            label(for="level-summoner") Summoner
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#level-druid(type="checkbox", name="druid")
                            label(for="level-druid") Druid
                        div.SearchCriteriaElement
                            input#level-witch(type="checkbox", name="witch")
                            label(for="level-witch") Witch
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 School
                        div.OperatorRow
                            div.OperatorColumn
                                div.ParameterElement
                                    input#school-and(type="radio", name="school-operator", value="and")
                                    label(for="school-and") And
                            div.OperatorColumn
                                div.ParameterElement
                                    input#school-or(type="radio", name="school-operator" value = "or", checked=true)
                                    label(for="school-or") Or
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#school-abjuration(type="checkbox", name="abjuration")
                            label(for="school-abjuration") Abjuration
                        div.SearchCriteriaElement
                            input#school-conjuration(type="checkbox", name="conjuration")
                            label(for="school-conjuration") Conjuration
                        div.SearchCriteriaElement
                            input#school-divination(type="checkbox", name="divination")
                            label(for="school-divination") Divination
                        div.SearchCriteriaElement
                            input#school-enchantment(type="checkbox", name="enchantment")
                            label(for="school-enchantment") Enchantment
                        div.SearchCriteriaElement
                            input#school-evocation(type="checkbox", name="evocation")
                            label(for="school-evocation") Evocation
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#school-illusion(type="checkbox", name="illusion")
                            label(for="school-illusion") Illusion
                        div.SearchCriteriaElement
                            input#school-necromancy(type="checkbox", name="necromancy")
                            label(for="school-necromancy") Necromancy
                        div.SearchCriteriaElement
                            input#school-transmutation(type="checkbox", name="transmutation")
                            label(for="school-transmutation") Transmutation
                        div.SearchCriteriaElement
                            input#school-universal(type="checkbox", name="universal")
                            label(for="school-universal") Universal
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Subschool
                        div.OperatorRow
                            div.OperatorColumn
                                div.ParameterElement
                                    input#subschool-and(type="radio", name="subschool-operator", value="and")
                                    label(for="subschool-and") And
                            div.OperatorColumn
                                div.ParameterElement
                                    input#subschool-or(type="radio", name="subschool-operator" value = "or", checked=true)
                                    label(for="subschool-or") Or
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#subschool-calling(type="checkbox", name="calling")
                            label(for="subschool-calling") Calling
                        div.SearchCriteriaElement
                            input#subschool-creation(type="checkbox", name="creation")
                            label(for="subschool-creation") Creation
                        div.SearchCriteriaElement
                            input#subschool-healing(type="checkbox", name="healing")
                            label(for="subschool-healing") Healing
                        div.SearchCriteriaElement
                            input#subschool-summoning(type="checkbox", name="summoning")
                            label(for="subschool-summoning") Summoning
                        div.SearchCriteriaElement
                            input#subschool-teleportation(type="checkbox", name="teleportation")
                            label(for="subschool-teleportation") Teleportation
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#subschool-scrying(type="checkbox", name="scrying")
                            label(for="subschool-scrying") Scrying
                        div.SearchCriteriaElement
                            input#subschool-charm(type="checkbox", name="charm")
                            label(for="subschool-charm") Charm
                        div.SearchCriteriaElement
                            input#subschool-compulsion(type="checkbox", name="compulsion")
                            label(for="subschool-compulsion") Compulsion
                        div.SearchCriteriaElement
                            input#subschool-figment(type="checkbox", name="figment")
                            label(for="subschool-figment") Figment
                        div.SearchCriteriaElement
                            input#subschool-glamer(type="checkbox", name="glamer")
                            label(for="subschool-glamer") Glamer
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#subschool-pattern(type="checkbox", name="pattern")
                            label(for="subschool-pattern") Pattern
                        div.SearchCriteriaElement
                            input#subschool-phantasm(type="checkbox", name="phantasm")
                            label(for="subschool-phantasm") Phantasm
                        div.SearchCriteriaElement
                            input#subschool-shadow(type="checkbox", name="shadow")
                            label(for="subschool-shadow") Shadow
                        div.SearchCriteriaElement
                            input#subschool-polymorph(type="checkbox", name="polymorph")
                            label(for="subschool-polymorph") Polymorph
                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Domain
                        div.OperatorRow
                            div.OperatorColumn
                                div.ParameterElement
                                    input#domain-and(type="radio", name="domain-operator", value="and")
                                    label(for="domain-and") And
                            div.OperatorColumn
                                div.ParameterElement
                                    input#domain-or(type="radio", name="domain-operator" value = "or", checked=true)
                                    label(for="domain-or") Or
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            select#domain-select(data-placeholder='Choose domains ...' multiple='')
                                option="acid"
                                option="air"
                                option="cold"
                                option="creation"
                                option="creation or calling"
                                option="curse"
                                option="darkness"
                                option="death"
                                option="disease"
                                option="earth"
                                option="electricity"
                                option="emotion"
                                option="evil"
                                option="fear"
                                option="figment"
                                option="fire"
                                option="force"
                                option="glamer"
                                option="good"
                                option="language dependent"
                                option="language-dependent"
                                option="light"
                                option="mind affecting"
                                option="mind-affecting"
                                option="pain"
                                option="poison"
                                option="polymorph"
                                option="see text"
                                option="see text for lesser planar ally"
                                option="see text for lesser planar binding"
                                option="shadow"
                                option="sonic"
                                option="teleportation"
                                option="water"


                div.SearchCriteria
                    div.SearchCriteriaRow
                        h1 Resistance
                    div.SearchCriteriaRow
                        div.SearchCriteriaElement
                            input#resistance-true(type="radio", name="resistance", value="True")
                            label(for="resistance-true") True
                        div.SearchCriteriaElement
                            input#resistance-false(type="radio", name="resistance" value = "False")
                            label(for="resistance-false") False
                        div.SearchCriteriaElement
                            input#resistance-neutral(type="radio", name="resistance", value="Neutral", checked=true)
                            label(for="resistance-neutral") Both


                div.SearchCriteria
                    input#submitButton(type="submit", value="Search")
    div.Result
