mixin resultElement(element)
    div.ResultElement 
        div.ResultElementSpellColumn
            a(href=element.url, target = "_blank")
                h1 #{element.name} 
            p Level : 
                each level, index in element.levels
                    span #{level.class} :  #{level.level} 
                    if index + 1 < element.levels.length
                        |, 
            p School : #{element.school} 
                if element.subSchool!= null && element.subSchool.length > 0
                    |(
                    each subschool, index in element.subSchool
                        span #{element.subSchool}
                        if index + 1 < element.subSchool.length
                            |, 
                    |)
                if element.domain && element.domain.length > 0
                    |[
                    each domain, index in element.domain
                        span #{domain}
                        if index + 1 < element.domain.length
                            |, 
                    |]
            
            p Composants : 
                if element.components
                    each component, index in element.components
                        span.Component #{component}
                        if index + 1 < element.components.length
                            |, 
            p Resistance : 
                if element.resistance
                    span True
                else 
                    span False
            p !{element.spellText}
            if element.creatures
                p Beasts : 
                    each beast, index in element.creatures
                        a(href = beast.url, target = "_blank") #{beast.name}
                        if index + 1 < element.creatures.length
                            |, 
        div.ResultElementCardColumn
            img(src=findImgURL(element.name), alt= element.name) 
    


//- Use
if infos.length > 0
    each element in infos
        +resultElement(element)
else
    div(style= "min-height:200px")
        p.NoResult No results found