@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");

:root {
  --ui-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border: 1px solid rgba(0, 0, 0, 0.14);

  --ui-shadow-big: 2px 2px 4px -1px rgba(0, 0, 0, 0.06),
  0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  fill: rgba(0, 0, 0, 0.54);
  --ui-shadow-border-big: 3px solid rgba(0, 0, 0, 0.14);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;

  padding: 0;
  margin: 0;

  color: #2a3747;
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

#root {
  display: flex;
  flex-direction: column;
}

.View {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  padding: 20px;

  background-size: cover;

  font-family: "Merriweather Sans", sans-serif;

}

form {
  width: 100%;
  overflow-y: hidden;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: end;
  font-family: "Merriweather Sans", sans-serif;
  }

.OperatorRow {
  flex-direction: row; 
  display: flex; 
  width: 20%;
}

.OperatorColumn {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.Component {
  text-decoration: solid;
  text-decoration-color: #2a3747;
}

.Banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 98%;
  position: static;
  border-radius: 5px;

  /*overflow: hidden;*/
  background: white;
  padding: 15px;

  font-family: "Share Tech Mono", monospace;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}
#ButtonPlusDiv {
  position: absolute;
  right: 3rem;
  font-size: 60px;
  display: none;
}

.Result {
  width: 90%;
  align-self: center;
  margin-top: 50px;


  background: white;
  border-radius: 5px;
}

.ResultElement {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  border-bottom: var(--ui-shadow-border);
}

.ResultElement:hover{
  border-radius: 5px;
  border-bottom: var(--ui-shadow-border-big);
  box-shadow: var(--ui-shadow-big);
}

.ResultElementSpellColumn {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.NoResult {
  margin: auto;
  font-size: 2rem;
}

.ResultElementCardColumn {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.SearchCriterias {
    align-self: flex-start;
    width: 100%;
    overflow-y: hidden;
}

.SearchCriteria {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #2a3747;
    padding: 1%;
}

.SearchCriteriaRow {
    display: flex;
    flex-direction: row;
}

.SearchCriteria > h1{
    font-size: 80%;
}

.SearchCriteriaElement {
    font-size: 40%;
    width: 20%;
}

.SearchTextElement {
  font-size: inherit;
  text-align: center;
  align-self: center;
  width: auto;
  padding-left: 2%;
  padding-right: 2%;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
  }

.ParameterElement {
    font-size: 40%;
    width: 100%;
    padding-left: 20px;
}

.Message {
  background: white;
  padding: 30px;
  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
}

.Message > .Title {
  padding-bottom: 20px;
}

.Message > .Details {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
}

.NavButtons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

input[type=submit] {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 55px;
  width: 150px;

  background: #fa4141;

  border-radius: 30px;

  font-size: 16px;
  font-weight: bold;
  color: white;

  text-transform: capitalize;

  border-bottom: var(--ui-shadow-border);
  box-shadow: var(--ui-shadow);
  border-width: 1px;
  /* border-width: 0px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
}